


<div class="container">
  <div class="encabezado text-center mt-3">
    <h2>Historias autoctonas</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, reprehenderit saepe culpa quidem natus asperiores sunt at magni inventore officiis consequatur eligendi odit explicabo quisquam, perferendis, a maiores voluptatum mollitia!</p>
  </div>
  <br>

  <!-- Grid con historias -->
  <div class="historias">
    <div class="row">
      <div class="col-3">
        <img src="mujeres1.png" alt="" class="mujeres">
        <p>Doña Rosa, una mujer santiagueña de la localidad de La Banda, lleva años tejiendo en su telar a mano. Con las manos firmes y el corazón lleno de esperanza, crea caminos de mesa que reflejan la tradición de su pueblo. A pesar de las dificultades económicas, ella ha logrado sacar adelante a su familia, vendiendo sus creaciones en los mercados locales y siempre con una sonrisa en el rostro.</p>
      </div>
      <div class="col-3">
        <img src="1.jpeg" alt="" class="mujeres">
        <p>Marcela, una joven de los pueblos cercanos a Santiago del Estero, encontró en los telares la forma de conectar con su herencia cultural. A diario, con paciencia y destreza, confecciona mantas y alfombras que no solo adornan las casas, sino que también cuentan historias de su tierra. Su trabajo es reconocido en su comunidad, donde su talento se transmite de generación en generación.</p>
      </div>
      <div class="col-3">
        <img src="mujeres.png" alt="" class="mujeres">
        <p>En el corazón de la región santiagueña, la señora Carmen es conocida por sus cestas de paja tejidas con gran habilidad. A lo largo de los años, ha perfeccionado su técnica, creando piezas únicas que se venden no solo en su pueblo, sino también en otras partes del país. Carmen ha sido un ejemplo de esfuerzo y dedicación, demostrando que el trabajo manual puede transformar vidas y mantener vivas las tradiciones.</p>
      </div>
      <div class="col-3">
        <img src="mujeres3.png" alt="" class="mujeres">
        <p>Silvina, originaria de un pequeño pueblo en el interior santiagueño, comenzó tejiendo en su telar como una forma de terapia para superar las dificultades personales. Hoy, sus alfombras y cestas no solo embellecen hogares, sino que también son símbolo de su fortaleza y resiliencia. Su taller es un lugar de encuentro, donde enseña a otras mujeres a seguir sus pasos, mostrando que el trabajo artesanal puede ser una fuente de empoderamiento.</p>
      </div>
    </div>
  </div>

</div>
