<footer class="footer-toolbar bg-dark text-light py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>DelEstero</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none" (click)="about()">¿Quiénes somos?</a></li>
          <li><a href="#" class="text-light text-decoration-none" (click)="contacto()">Contáctanos</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-3">
        <h5>Descubre</h5>
        <ul class="list-unstyled">
          <!-- Agregar más enlaces si es necesario -->
        </ul>
      </div>

      <div class="col-md-4 mb-3">
        <h5>Redes</h5>
        <div class="d-flex gap-3">
          <a href="https://facebook.com" target="_blank" class="text-light fs-4">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://twitter.com" target="_blank" class="text-light fs-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://instagram.com" target="_blank" class="text-light fs-4">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <span>&copy; 2024 DelEstero - Todos los derechos reservados.</span>
    </div>
  </div>
</footer>
