.form {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
}

label {
  margin-top: 10px;
}

input, textarea, select, button {
  margin-top: 5px;
  padding: 8px;
  width: 100%; /* Asegura que los inputs ocupen todo el ancho */
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #45a049;
}
